/* changing color of sliders */
.irs-bar {
  border-top: 1px solid #E95420;
  border-bottom: 1px solid #E95420;
  background: #E95420;
}
.irs-bar-edge {
  border: 1px solid #E95420;
  background: #E95420;
}
.irs-from, .irs-to, .irs-single {
    background: #E95420;
}
.irs-grid-pol {
    background: #E95420;
}
